/* d stands for darkened.  */

:root {
  --color-main-0d: #fefefe;
  --color-main-1d: #dfdfdf;
  --color-main-2d: #959595;
  --color-main-3d: #707070;

  --color-accent-0d: #fd6f00;
  --color-accent-1d: #e46400;
  --color-accent-1d-plus: #e60026;
  --color-accent-2d: #ca5900;
}
