a,
button {
  color: inherit;
  text-decoration: none;
  transition: 0.1s all;
  transform-origin: left center;
  cursor: pointer;
  letter-spacing: inherit;
}

button,
a,
input,
label {
  -webkit-tap-highlight-color: transparent;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--color-accent-0d), var(--color-accent-1d-plus));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

.main-nav {
  color: var(--color-main-2d);
  font-size: 1.25rem;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1.5em;
}
.main-nav li {
  font-weight: 500;
}
.main-nav li:not(:last-child) {
  margin-right: min(3vw, 2em);
}
.main-nav a:focus,
.main-nav a:hover {
  color: var(--color-accent-0d);
  text-shadow: 1px 0 var(--color-accent-0d);
}

@media (max-width: 640px) {
  .main-nav {
    font-size: 1rem;
  }
}

/* Socials ======================================================================== */
.socials {
  display: flex;
}
.socials a {
  line-height: 0;
  & * {
    transition: all 0.2s;
  }
}
.socials a:not(:last-child) {
  margin-right: 20px;
}
.socials svg {
  width: 2.5em;
}
a > :where(.svg-instagram, .svg-linkedin, .svg-ball, .svg-beryllium) {
  aspect-ratio: 0.9756;
  & circle {
    fill: white;
    fill-opacity: 0.04;
    stroke: var(--color-main-4d);
  }
}

.svg-instagram {
  & path {
    fill: var(--color-main-1d-plus-x3);
  }
}
a:has(> .svg-instagram):where(:hover, :focus) {
  & path {
    fill: white;
  }
}

.svg-linkedin {
  & path {
    fill: var(--color-main-1d-plus-x3);
  }
}
a:has(> .svg-linkedin):where(:hover, :focus) {
  & path {
    fill: white;
  }
}

.svg-ball {
  & path {
    stroke: var(--color-main-1d-plus-x3);
  }
}
a:has(> .svg-ball):where(:hover, :focus) {
  & path {
    stroke: white;
  }
}

.svg-beryllium {
  & path {
    fill: var(--color-main-1d-plus-x3);
  }
}
a:has(> .svg-beryllium):where(:hover, :focus) {
  & path {
    fill: white;
  }
}

a:where(:hover, :focus) {
  scale: 1.03;
  & > :is(.svg-instagram, .svg-linkedin, .svg-ball, .svg-beryllium) {
    circle {
      stroke: white;
    }
  }
}

/* ==== end ===== Socials =================================================================== */

.buttonlink-primary {
  color: var(--color-main-0d);
  background-color: var(--color-accent-0d);
  border-color: var(--color-accent-0d);
  &:where(:hover, :focus) {
    scale: 1.03;
  }
}
.buttonlink-secondary {
  color: var(--color-main-2d);
  background-color: transparent;
  border-color: var(--color-main-2d);
  &:where(:hover, :focus) {
    scale: 1.03;
    border-color: white;
    color: white;
  }
}
.buttonlink-primary,
.buttonlink-secondary {
  display: inline-block;
  font-size: 1.25rem;
  text-transform: capitalize;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.5em;
  padding: 0.5em 1.9em;
  font-weight: 700;
}
@media (max-width: 640px) {
  .buttonlink-primary,
  .buttonlink-secondary {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

h1 {
  display: inline-block;
  margin-block: 0.48em;
  color: var(--color-accent-0d);
  background-image: linear-gradient(95deg, #984300, #fd6f00 42%, #ca5900);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title {
  margin-bottom: 0.45em;
  color: var(--color-main-0d);
}
.section-subtitle {
  color: var(--color-main-3d);
  font-weight: 500;
  font-size: 1.25em;
}
@media (max-width: 640px) {
  .section-title {
    font-size: 1.25rem;
  }
  .section-subtitle {
    font-size: 1rem;
  }
}

.container {
  width: min(100% - 5em, 1280px);
  margin-inline: auto;
}
@media (max-width: 640px) {
  .container {
    width: calc(100% - 3em);
  }
}
@media (max-width: 390px) {
  .container {
    width: calc(100% - 1em);
  }
}

section {
  margin-top: 9.375em;
}
@media (max-width: 800px) {
  section {
    margin-top: 6.25em;
  }
}

/* transition of any background except color
  bef means that this element uses ::before pseudoelement
*/
.bg-transition_bef {
}
.bg-transition_bef::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.2s;
}
.bg-transition_bef > * {
  position: relative;
}

.sr-only:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.clipboard-icon {
  height: 100%;
  line-height: 1;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  & svg {
    height: 1em;
    vertical-align: middle;
    fill: var(--color-main-2d);
  }
  &:is(:hover, :focus) svg {
    fill: var(--color-main-1d);
  }
}
*:has(> .clipboard-icon):is(:hover, :focus-within) .clipboard-icon {
  opacity: 1;
}

.tooltiped {
  position: relative;
  cursor: default;
}
.tooltiped_hover-focus:is(:hover, :focus-within) .tooltip {
  opacity: 1;
  transition-delay: 0.55s;
}
.tooltip {
  --offset: 0%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  top: 0;
  left: 50%;
  transform: translate(calc(-50% - var(--offset)), -100%);
  pointer-events: none;
}
.tooltip::after {
  content: '';
  display: block;
  position: relative;
  left: calc(50% + var(--offset));
  transform: translate(-50%);
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 10px solid transparent;
  border-top-color: #121212e8;
  filter: drop-shadow(0 0 5px black);
  z-index: -1;
}
.tooltip__wrapper {
  background-color: #121212e8;

  border-radius: 5px;
  padding: 0.4em 0.8em;
}
.tooltip__content {
  font-size: 1rem;
  min-width: max-content;
}

.popover {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  text-shadow: 2px 2px black;
  background-color: #121212e8;
  box-shadow: 0 3px 3px black;
  backdrop-filter: blur(5px);
  cursor: default;
  transition: opacity 0.5s, bottom 0.5s;
  z-index: 999;
  white-space: nowrap;
}
.popover.hidden {
  opacity: 0;
  bottom: -100px;
}

.popover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 0.5em;
  background: white;
  animation: progressbar 5s linear forwards;
}
.popover.hidden::after {
  animation: none;
  background: none;
}

@keyframes progressbar {
  10% {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.popover__content {
}
.popover__content svg {
  filter: drop-shadow(2px 2px black);
  display: inline-block;
  fill: var(--color-accent-0d);
  height: 1em;
  aspect-ratio: 1/1;
  vertical-align: bottom;
}
.popover__content span {
  color: var(--color-accent-0d);
}

img[alt] {
  color: var(--color-main-0d);
  font-size: 1.5rem;
}

.ffi-errors {
  color: rgb(163, 0, 0);
}
.ffi-warnings {
  color: orange;
}
.ffi-infos {
  color: rgb(74, 152, 255);
}
