html {
  height: 100%;
}

body {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  color: var(--color-main-2d);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
}
header .logo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--color-accent-0d), var(--color-accent-1d-plus));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav {
  color: var(--color-main-2d);
  font-size: 1.25rem;
}
header ul {
  display: flex;
}
header li {
  font-weight: 500;
}
header li:not(:last-child) {
  margin-right: 3em;
}
header nav a:focus,
header nav a:hover {
  color: var(--color-accent-0d);
  text-shadow: 1px 0 var(--color-accent-0d);
}

main {
  flex: 1 1 auto;
}

header,
main,
footer {
  width: min(100% - 5em, 1280px);
  margin-inline: auto;
}

section:not(:first-child) {
  margin-top: 9.375em;
}

/* Hero */
.hero {
  margin-top: 4em;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__first-block {
  margin-top: 3.4em;
  position: relative;
}
.hero__first-block::before {
  content: url('capitosh.svg');
  position: absolute;
  z-index: -1;
  opacity: 0.04;
  filter: blur(80px);
}

.hero .subtext {
  color: var(--color-main-3d);
  font-size: 1.5rem;
  font-weight: 600;
}
.hero .designer-name {
  color: var(--color-main-2d);
  font-size: 1.75rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 0.4em;
}

.socials {
  display: flex;
}
.socials a {
  padding-bottom: 13px;
}
.socials a:not(:last-child) {
  margin-right: 20px;
}

.hero .link-primary {
  margin-right: 1.2em;
}

.hero .socials {
  margin-block: 3.5rem;
}

.achivements {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  padding: 1.5em;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 0.5em;
}

.achivements__achivement {
  padding-block: 0.375em;
}
.achivements__achivement:not(:last-child) {
  padding-right: 2em;
  border-right: 1px solid var(--color-main-2d);
  margin-right: 2em;
}

.achivement__value {
  color: var(--color-accent-0d);
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.achivement__name {
  color: var(--color-main-1d);
  font-weight: 700;
}

.hero__second-block {
  flex: 0 0 618px;
  margin-top: 113px;
  height: 618px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.04);
  position: relative;
}
.hero__second-block::after {
  content: '';
  background: url('./designer.png');
  border-radius: 0 0 244px 244px;
  display: block;
  height: 731px;
  width: 520px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Services */
.services {
  text-align: center;
}

.services__cards {
  /* width: fit-content; */
  /* margin-inline: auto; */
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(30ch + 4em), 1fr));
  /* grid-auto-rows: min-content; */
  gap: 2.5em;
}
.services__card {
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 1.5em;
  padding: 2em;
  min-width: 30ch;
  max-width: 50ch;
  line-height: 1.6;
}
.services__card-icon {
  margin-bottom: 1em;
  width: 100px;
}
.services__card-icon,
.services__card-icon * {
  fill: var(--color-accent-0d);
}
.services__card-name {
  color: var(--color-accent-0d);
  font-size: 1.5em;
  font-weight: 700;
}
.services__card-description {
  font-weight: 500;
  margin-top: 2em;
  color: var(--color-main-4d);
}

/* About me */

.about-me {
  text-align: center;
}
.about-me__wrapper {
  margin-top: 2.5em;
  display: flex;
  justify-content: space-between;
}
.about-me__first-block {
  flex: 0 0 566px;
  background: url('./designer.png') center / cover;
  height: 808px;
  position: relative;
  margin-right: 2em;
}
.about-me__first-block::before {
  content: '';
  display: block;
  width: 566px; /* 523px in original layout */
  height: 676px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 500px 500px 0 0;
  background-color: #fff;
  opacity: 0.04;
}

.about-me__second-block {
  margin-top: 7.0625em;
  text-align: start;
}
.about-me__text {
  font-size: 1.25rem;
  text-align: justify;
  color: var(--color-main-2d);
  line-height: 1.9;
  max-width: 55ch;
  margin-bottom: 2em;
}
.about-me__link {
  display: inline-flex;
  align-items: center;
  padding-inline: 1.4em;
}
.about-me__link svg {
  margin-right: 0.5em;
}

.about-me__skills {
  margin-top: 6.25em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 2em 1em;
  justify-items: center;
}
.about-me__skill {
  width: fit-content;
  text-align: center;
}
.about-me__skill:nth-child(1) {
  --percentage: 1;
}
.about-me__skill:nth-child(2) {
  --percentage: 1;
}
.about-me__skill:nth-child(3) {
  --percentage: 0.85;
}
.about-me__skill:nth-child(4) {
  --percentage: 0.6;
}
.about-me__skill:nth-child(5) {
  --percentage: 0.7;
}

.about-me__svg-container {
  position: relative;
  margin-inline: auto;
  width: fit-content;
  font-size: 0;
  margin-bottom: 0.8rem;
}
.about-me__svg-container::after {
  content: '';
  position: absolute;
  width: 38%;
  height: 38%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask: center / contain no-repeat;
  background-color: var(--color-main-2d);
}
.about-me__skill:nth-child(1) .about-me__svg-container::after {
  mask-image: url('figma.svg');
}
.about-me__skill:nth-child(2) .about-me__svg-container::after {
  mask-image: url('adobexd.svg');
}
.about-me__skill:nth-child(3) .about-me__svg-container::after {
  mask-image: url('photoshop.svg');
}
.about-me__skill:nth-child(4) .about-me__svg-container::after {
  mask-image: url('illustrator.svg');
}
.about-me__skill:nth-child(5) .about-me__svg-container::after {
  mask-image: url('premiere.svg');
}
.about-me__svg-container svg {
  width: 8.125rem;
  height: 8.125rem;
}
.about-me__svg-container circle.back {
  stroke: var(--color-main-1d-plus);
  opacity: 0.2;
  stroke-width: 0.8125rem;
}
.about-me__svg-container circle.front {
  stroke: var(--color-accent-0d);
  stroke-width: 0.8125rem;
  transform-origin: center;
  transform: rotate(-90deg);
  stroke-linecap: round;
  --full-len: 326.726;
  stroke-dasharray: calc(var(--full-len) * var(--percentage)), 999999;
  stroke-dashoffset: calc(-1 * var(--full-len) + var(--full-len) * var(--percentage));
}

.about-me__value {
  background-image: linear-gradient(95deg, var(--color-accent-0d), var(--color-accent-1d));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.875em;
  font-weight: 700;
  line-height: 1.5;
}
.about-me__name {
  color: var(--color-main-2d);
  font-size: 1.5em;
  font-weight: 700;
}
