html {
  height: 100%;
}

body {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  color: var(--color-main-2d);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
}
header .logo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--color-accent-0d), var(--color-accent-1d-plus));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav {
  color: var(--color-main-2d);
  font-size: 1.25rem;
}
header ul {
  display: flex;
}
header li {
  font-weight: 500;
}
header li:not(:last-child) {
  margin-right: 3em;
}
header nav a:focus,
header nav a:hover {
  color: var(--color-accent-0d);
  text-shadow: 1px 0 var(--color-accent-0d);
}

main {
  flex: 1 1 auto;
}

/* Hero */
.hero {
  margin-top: 4em;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__first-block {
  margin-top: 3.4em;
  position: relative;
}
.hero__first-block::before {
  content: url('capitosh.svg');
  position: absolute;
  z-index: -1;
  opacity: 0.04;
  filter: blur(80px);
}

.hero .subtext {
  color: var(--color-main-3d);
  font-size: 1.5rem;
  font-weight: 600;
}
.hero .designer-name {
  color: var(--color-main-2d);
  font-size: 1.75rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 0.4em;
}

.socials {
  display: flex;
}
.socials a {
  padding-bottom: 13px;
}
.socials a:not(:last-child) {
  margin-right: 20px;
}

.hero .link-primary {
  margin-right: 1.2em;
}

.hero .socials {
  margin-block: 3.5rem;
}

.achivements {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  padding: 1.5em;
  background-color: var(--color-background-1d);
  border-radius: 0.5em;
}

.achivements__achivement {
  padding-block: 0.375em;
}
.achivements__achivement:not(:last-child) {
  padding-right: 2em;
  border-right: 1px solid var(--color-main-2d);
  margin-right: 2em;
}

.achivement__value {
  color: var(--color-accent-0d);
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.achivement__name {
  color: var(--color-main-1d);
  font-weight: 700;
}

.hero__second-block {
  flex: 0 0 618px;
  margin-top: 113px;
  height: 618px;
  border-radius: 50%;
  background-color: var(--color-background-1d);
  position: relative;
}
.hero__second-block::after {
  content: '';
  background: url('./designer.png');
  border-radius: 0 0 244px 244px;
  display: block;
  height: 731px;
  width: 520px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Services */
.services {
  text-align: center;
}

.services__cards {
  /* width: fit-content; */
  /* margin-inline: auto; */
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(30ch + 4em), 1fr));
  /* grid-auto-rows: min-content; */
  gap: 2.5em;
}
.services__card {
  background-color: var(--color-background-1d);
  border-radius: 1.5em;
  padding: 2em;
  min-width: 30ch;
  max-width: 50ch;
  line-height: 1.6;
}
.services__card-icon {
  margin-bottom: 1em;
  width: 100px;
}
.services__card-icon,
.services__card-icon * {
  fill: var(--color-accent-0d);
}
.services__card-name {
  color: var(--color-accent-0d);
  font-size: 1.5em;
  font-weight: 700;
}
.services__card-description {
  font-weight: 500;
  margin-top: 2em;
  color: var(--color-main-4d);
}

/* About me */

.about-me {
  text-align: center;
}
.about-me__wrapper {
  margin-top: 2.5em;
  display: flex;
  justify-content: space-between;
}
.about-me__first-block {
  flex: 0 0 566px;
  background: url('./designer.png') center / cover;
  height: 808px;
  position: relative;
  margin-right: 2em;
}
.about-me__first-block::before {
  content: '';
  display: block;
  width: 566px; /* 523px in original layout */
  height: 676px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 500px 500px 0 0;
  background-color: var(--color-background-1d);
}

.about-me__second-block {
  margin-top: 7.0625em;
  text-align: start;
}
.about-me__text {
  font-size: 1.25rem;
  text-align: justify;
  color: var(--color-main-2d);
  line-height: 1.9;
  max-width: 55ch;
  margin-bottom: 2em;
}
.about-me__link {
  display: inline-flex;
  align-items: center;
  padding-inline: 1.4em;
}
.about-me__link svg {
  margin-right: 0.5em;
}

.about-me__skills {
  margin-top: 6.25em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 2em 1em;
  justify-items: center;
}
.about-me__skill {
  width: fit-content;
  text-align: center;
}
.about-me__skill:nth-child(1) {
  --percentage: 1;
}
.about-me__skill:nth-child(2) {
  --percentage: 1;
}
.about-me__skill:nth-child(3) {
  --percentage: 0.85;
}
.about-me__skill:nth-child(4) {
  --percentage: 0.6;
}
.about-me__skill:nth-child(5) {
  --percentage: 0.7;
}

.about-me__svg-container {
  position: relative;
  margin-inline: auto;
  width: fit-content;
  font-size: 0;
  margin-bottom: 0.8rem;
}
.about-me__svg-container::after {
  content: '';
  position: absolute;
  width: 38%;
  height: 38%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask: center / contain no-repeat;
  background-color: var(--color-main-2d);
}
.about-me__skill:nth-child(1) .about-me__svg-container::after {
  mask-image: url('figma.svg');
}
.about-me__skill:nth-child(2) .about-me__svg-container::after {
  mask-image: url('adobexd.svg');
}
.about-me__skill:nth-child(3) .about-me__svg-container::after {
  mask-image: url('photoshop.svg');
}
.about-me__skill:nth-child(4) .about-me__svg-container::after {
  mask-image: url('illustrator.svg');
}
.about-me__skill:nth-child(5) .about-me__svg-container::after {
  mask-image: url('premiere.svg');
}
.about-me__svg-container svg {
  width: 8.125rem;
  height: 8.125rem;
}
.about-me__svg-container circle.back {
  stroke: var(--color-main-1d-plus);
  opacity: 0.2;
  stroke-width: 0.8125rem;
}
.about-me__svg-container circle.front {
  stroke: var(--color-accent-0d);
  stroke-width: 0.8125rem;
  transform-origin: center;
  transform: rotate(-90deg);
  stroke-linecap: round;
  --full-len: 326.726;
  stroke-dasharray: calc(var(--full-len) * var(--percentage)), 999999;
  stroke-dashoffset: calc(-1 * var(--full-len) + var(--full-len) * var(--percentage));
}

.about-me__value {
  background-image: linear-gradient(95deg, var(--color-accent-0d), var(--color-accent-1d));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.875em;
  font-weight: 700;
  line-height: 1.5;
}
.about-me__name {
  color: var(--color-main-2d);
  font-size: 1.5em;
  font-weight: 700;
}

/* Portfolio */

.portfolio {
  text-align: center;
}
.category-filter {
  margin-top: 2.5em;
  width: 90%;
  margin-inline: auto;
  display: flex;
  gap: 1.5em;
  justify-content: center;
  flex-wrap: wrap;
}
.category-filter label {
  background-color: var(--color-background-0d);
  padding: 0.875em 2.5em;
  color: var(--color-main-1d-plus-x2);
  font-weight: 700;
  line-height: 1.6;
  border-radius: 0.5em;
  letter-spacing: 0.03em;
  position: relative;
  z-index: 0;
}
.category-filter label:has(input[type='radio']:checked) {
  color: white;
}
.category-filter label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(115deg, var(--color-accent-0d), var(--color-accent-1d));
  border-radius: 0.5em;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1;
}
.category-filter label:has(input[type='radio']:checked)::before {
  opacity: 1;
}
.category-filter span {
  position: relative;
  z-index: 1;
}
.category-filter input[type='radio'] {
  display: none;
}

.portfolio-projects {
  margin-top: 4.375em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5em;
}
/* @media (max-width: 800px) {
  .portfolio-projects {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 0.75em;
  }
} */
.portfolio-project {
  flex: 0 0 400px;
  font-weight: 700;
  line-height: 1.6;
}
.portfolio-project__image {
  background: url('project1.png') center / contain no-repeat;
  aspect-ratio: 1/1;
  /* height: clamp(20ch, 40vw, 60ch); */
  border-radius: 1.75em 1.75em 0 0;
  /* max-width: 70ch; */
}
:is(
    .portfolio-project:nth-child(1),
    .portfolio-project:nth-child(5),
    .portfolio-project:nth-child(7)
  )
  .portfolio-project__image {
  background-image: url('project1.png');
}
:is(
    .portfolio-project:nth-child(2),
    .portfolio-project:nth-child(4),
    .portfolio-project:nth-child(9)
  )
  .portfolio-project__image {
  background-image: url('project2.png');
}
:is(
    .portfolio-project:nth-child(3),
    .portfolio-project:nth-child(6),
    .portfolio-project:nth-child(8)
  )
  .portfolio-project__image {
  background-image: url('project3.png');
}
.portfolio-project__text-zone {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
  background-color: var(--color-background-0d); /* originally was white with 0.08 opacity */
  border-radius: 0 0 1em 1em;
}
.portfolio-project__name {
  color: var(--color-main-1d-plus-x3);
}
.portfolio-project__category {
  color: var(--color-main-2d);
}

.contact-me {
  text-align: center;
}

form {
  margin-block: 3.125em;
  text-align: start;
  width: min(100% - 1em, 900px);
  margin-inline: auto;
}

.form-items {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  /* align-items: start; */
}

.form-item {
  background-color: var(--color-background-1d); /* originally was white with 0.04 opacity*/
  --hor-padding: 1.5em;
  padding: 0.875em var(--hor-padding);
  border-radius: 0.5em;
  color: var(--color-main-2d);
  line-height: 1.6;
}
.form-item__label {
  display: flex;
  & span {
    white-space: nowrap;
    margin-right: 1em;
  }
  & input {
    flex-basis: 100%;
    font: inherit;
    color: var(--color-main-1d);
    background: transparent;
    border: 0;
    padding: 0;
  }
}

.form-dropdown {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-dropdown.expanded {
  overflow: visible;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-dropdown__arrow::before,
.form-dropdown__arrow::after {
  content: '';
  display: inline-block;
  height: 0.09375em;
  width: 0.625em;
  background-color: var(--color-main-2d);
  border-radius: 10px;
}
.form-dropdown__arrow::before {
  transform-origin: bottom right;
  transform: rotate(45deg);
}
.form-dropdown__arrow::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
}
.form-dropdown.expanded .form-dropdown__arrow::before {
  transform-origin: bottom left;
  transform: rotate(-45deg) translateX(0.3em);
}
.form-dropdown.expanded .form-dropdown__arrow::after {
  transform-origin: bottom right;
  transform: rotate(45deg) translateX(-0.3em);
}

.form-dropdown__header {
}
.form-dropdown__header:has(~ .form-dropdown__body :checked) {
  color: white;
}
.form-dropdown__body {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  background-color: var(--color-background-1d);
  padding: 0 var(--hor-padding) 0.875em;
  border-radius: 0 0 0.5em 0.5em;
  box-sizing: border-box;
  width: 100%;
}
.form-dropdown__item input {
  display: none;
}
.form-dropdown__item:has(input:checked),
.form-dropdown__item:hover {
  color: white;
}
