html {
  height: 100%;
}

body {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-wrap: balance;
}

header .container {
  color: var(--color-main-2d);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
  gap: 3em;
}

.main-nav-burger {
  display: none;
}
.main-nav-burger__controller {
  padding: 0.25em;
  cursor: pointer;
}

[class^='main-nav-burger__line'] {
  height: 0.125em;
  margin-bottom: 0.25em;
  border-radius: 1em;
  background-color: var(--color-main-2d);
  transition: background-color 0.2s;
}
.main-nav-burger__controller:hover [class^='main-nav-burger__line'] {
  background-color: var(--color-main-1d);
}
.main-nav-burger__line1 {
  aspect-ratio: 9;
}
.main-nav-burger__line2 {
  aspect-ratio: 5.5;
}
.main-nav-burger__line3 {
  aspect-ratio: 9;
  margin-bottom: 0;
}

.position-relative {
  position: relative;
}
.main-nav-burger__main-nav {
  background: #121212;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s;
  position: absolute;
  z-index: 10;
  top: 1em;
  left: 0;
  min-width: max-content;
}
.main-nav-burger__main-nav.active {
  box-shadow: 0 0 10px black;
  grid-template-rows: 1fr;
  border-bottom: 1px solid var(--color-accent-0d);
}
.main-nav-burger__main-nav-links {
  overflow: hidden;
}
.main-nav-burger__main-nav-links > li:last-child {
  padding-bottom: 1em;
}
.main-nav-burger__main-nav-links a {
  display: inline-block;
  padding: 0.4375em 0.75em;
  width: 100%;
  box-sizing: border-box;
}
.main-nav-burger__main-nav-links a:where(:hover, :focus) {
  color: var(--color-main-1d);
}

@media (max-width: 1000px) {
  header .main-nav {
    display: none;
  }
  header .main-nav-burger {
    display: block;
  }
}

main {
  flex: 1 1 auto;
}

/* Hero ============================================================================================= */
.hero {
  margin-top: 4em;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
}

.hero__first-block {
  margin-top: 3.4em;
  position: relative;
  flex: 0 1 60ch;
}
.hero__first-block::before {
  content: url('capitosh.svg');
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.04;
  filter: blur(80px);
}

.hero .subtext {
  color: var(--color-main-3d);
  font-size: 1.5rem;
  font-weight: 600;
}
.hero .designer-name {
  color: var(--color-main-2d);
  font-size: 1.75rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 0.4em;
}
.hero h1 {
  width: fit-content;
}

.hero .buttonlink-primary {
  margin-right: 1.2em;
}

.hero .socials {
  margin-bottom: 3.8125em;
  display: inline-block;
}

.achivements {
  margin-top: 5em;
  display: flex;
  width: fit-content;
  padding: 1.5em;
  background-color: var(--color-background-1d);
  border-radius: 0.5em;
}

.achivements__achivement {
  padding-block: 0.375em;
}
.achivements__achivement:not(:last-child) {
  padding-right: 2em;
  border-right: 1px solid var(--color-main-2d);
  margin-right: 2em;
}

.achivement__value {
  color: var(--color-accent-0d);
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.achivement__name {
  color: var(--color-main-1d);
  font-size: 1.25em;
  font-weight: 700;
  white-space: nowrap;
}

.hero__second-block {
  flex: 0 1 618px;
  aspect-ratio: 1;
}
.hero__image {
  border-radius: 50%;
  position: relative;
  margin-top: 18.3%;
  height: 100%;
  background-color: var(--color-background-1d);
}
.hero__image::after {
  content: '';
  background: url('./designer.png') center / cover no-repeat;
  border-radius: 0 0 47% 47% / 0 0 33.5% 33.5%;
  display: block;
  height: 118%;
  width: 84%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1200px) {
  .hero .socials {
    margin-bottom: 2.5em;
  }
  .achivements {
    margin-top: 3.8em;
  }
}

@media (max-width: 1000px) {
  .hero__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .hero__first-block {
    text-align: center;
    flex: 0 1 auto;
  }
  .achivements {
    text-align: start;
  }
  .hero__second-block {
    flex: 0 1 400px;
  }
}

@media (max-width: 870px) {
  .hero__second-block {
    flex-basis: auto;
    width: min(100%, 400px);
    margin-inline: auto;
  }
}

@media (max-width: 640px) {
  .hero .subtext {
    font-size: 1rem;
  }
  .hero .designer-name {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 3.125rem;
  }
  .achivements {
    font-size: 0.8125rem;
  }
}

/* Services ================================================================================================ */
.services {
  text-align: center;
}

.services__cards {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35ch, auto));
  justify-content: center;
  gap: 2.5em;
}
@media (max-width: 800px) {
  .services__cards {
    margin-top: 2em;
  }
}
.services__card {
  background-color: var(--color-background-1d);
  border-radius: 1.5em;
  padding: 2em;
  max-width: 45ch;
  line-height: 1.6;
}
.services__card-icon {
  margin-bottom: 1.5em;
  width: 3.6em;
}
.services__card-icon,
.services__card-icon * {
  fill: var(--color-accent-0d);
}
.services__card-name {
  color: var(--color-accent-0d);
  font-size: 1.5em;
  font-weight: 700;
}
.services__card-description {
  font-weight: 500;
  margin-top: 2em;
  color: var(--color-main-4d);
}

@media (max-width: 640px) {
  .services .section-title {
    margin-bottom: 0.8em;
  }

  .services__cards {
    grid-template-columns: repeat(auto-fill, minmax(20ch, auto));
  }
  .services__card {
    padding: 1.0625em 1.875em;
  }
  .services__card-icon {
    width: 1.769em;
    margin-bottom: 0.5em;
  }
  .services__card-name {
    font-size: 1.25rem;
  }
  .services__card-description {
    font-size: 1rem;
    margin-top: 1em;
  }
}

/* About me */

.about-me {
  text-align: center;
}
.about-me__wrapper {
  margin-top: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1000px) {
  .about-me__wrapper {
    display: block;
  }
  .about-me__first-block {
    float: left;
    width: max(300px, 40%);
  }
}
.about-me__first-block {
  flex: 0 1 566px;
  margin-right: 1em;
}
@media (max-width: 80ch) {
  .about-me__wrapper {
    display: flex;
    flex-direction: column;
  }
  .about-me__first-block {
    float: none;
    margin-right: 0;
    width: min(100%, 400px);
    margin-inline: auto;
    flex: 0 1 auto;
  }
  .about-me__second-block {
  }
}
.about-me__image {
  aspect-ratio: 1 / 1.427;
  background: url('./designer.png') center / cover;
  position: relative;
}
.about-me__image::before {
  content: '';
  display: block;
  width: 92.4%;
  aspect-ratio: 1 / 1.292;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50% 50% 0 0 / 38.7% 38.7% 0 0;
  background-color: var(--color-background-1d);
}

.about-me__second-block {
  margin-top: 7.0625em;
  text-align: start;
}
.about-me__text {
  font-size: 1.25rem;
  text-align: justify;
  color: var(--color-main-2d);
  line-height: 1.9;
  max-width: 55ch;
  margin-bottom: 2em;
}
.about-me__link {
  display: inline-flex;
  align-items: center;
  padding-inline: 1.4em;
}
.about-me__link svg {
  margin-right: 0.5em;
}
@media (max-width: 1000px) {
  .about-me__text {
    max-width: max-content;
  }
  .about-me__second-block {
    margin-top: 1em;
  }
}
@media (max-width: 640px) {
  .about-me__text {
    font-size: 1rem;
  }
}

.about-me__skills {
  margin-top: 6.25em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22ch, 1fr));
  gap: 2em 1em;
  justify-items: center;
}
.about-me__skill {
  width: fit-content;
  text-align: center;
}
.about-me__skill:nth-child(1) {
  --percentage: 1;
}
.about-me__skill:nth-child(2) {
  --percentage: 1;
}
.about-me__skill:nth-child(3) {
  --percentage: 0.85;
}
.about-me__skill:nth-child(4) {
  --percentage: 0.6;
}
.about-me__skill:nth-child(5) {
  --percentage: 0.7;
}

.about-me__svg-container {
  position: relative;
  margin-inline: auto;
  width: fit-content;
  line-height: 0;
  margin-bottom: 0.8em;
}
.about-me__svg-container::after {
  content: '';
  position: absolute;
  width: 38%;
  height: 38%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask: center / contain no-repeat;
  background-color: var(--color-main-2d);
}
.about-me__skill:nth-child(1) .about-me__svg-container::after {
  mask-image: url('figma.svg');
}
.about-me__skill:nth-child(2) .about-me__svg-container::after {
  mask-image: url('adobexd.svg');
}
.about-me__skill:nth-child(3) .about-me__svg-container::after {
  mask-image: url('photoshop.svg');
}
.about-me__skill:nth-child(4) .about-me__svg-container::after {
  mask-image: url('illustrator.svg');
}
.about-me__skill:nth-child(5) .about-me__svg-container::after {
  mask-image: url('premiere.svg');
}
.about-me__svg-container svg {
  width: 8.125em;
  height: 8.125em;
}
.about-me__svg-container circle.back {
  stroke: var(--color-main-1d-plus);
  opacity: 0.2;
  stroke-width: 0.8125em;
}
.about-me__svg-container circle.front {
  stroke: var(--color-accent-0d);
  stroke-width: 0.8125em;
  transform-origin: center;
  transform: rotate(-90deg);
  stroke-linecap: round;
  --full-len: calc(3.14158 * (8.125em - 0.8125em));
  stroke-dasharray: calc(var(--full-len) * var(--percentage)), 999999;
  stroke-dashoffset: calc(-1 * var(--full-len) + var(--full-len) * var(--percentage));
}

.about-me__value {
  background-image: linear-gradient(95deg, var(--color-accent-0d), var(--color-accent-1d));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.6;
}
.about-me__name {
  color: var(--color-main-2d);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  white-space: nowrap;
}

@media (max-width: 640px) {
  .about-me__skills {
    font-size: 0.7rem;
    grid-template-columns: repeat(auto-fit, minmax(26ch, 1fr));
  }
  .about-me__value {
    font-size: 1.5rem;
  }
  .about-me__name {
    font-size: 1.25rem;
  }
}

/* Portfolio ======================================================================================= */

.portfolio {
  text-align: center;
}
.category-filter {
  margin-top: 2.5em;
  width: 90%;
  margin-inline: auto;
  display: flex;
  gap: 1.5em;
  justify-content: center;
  flex-wrap: wrap;
}
.category-filter label {
  background-color: var(--color-background-0d);
  padding: 0.875em 2.5em;
  color: var(--color-main-1d-plus-x3);
  font-weight: 700;
  line-height: 1.6;
  border-radius: 0.5em;
  letter-spacing: 0.03em;
  position: relative;
  z-index: 0;
  cursor: pointer;
  transition: scale 0.1s;
  &:where(:hover, :focus) {
    scale: 1.03;
  }
}
.category-filter label:has(input[type='radio']:checked) {
  color: white;
}
.category-filter label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(115deg, var(--color-accent-0d), var(--color-accent-1d));
  border-radius: 0.5em;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1;
}
.category-filter label:has(input[type='radio']:checked)::before {
  opacity: 1;
}
.category-filter span {
  position: relative;
  z-index: 1;
}
.category-filter input[type='radio'] {
  display: none;
}

.portfolio-projects {
  margin-top: 4.375em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5em;
}
@media (max-width: 800px) {
  .portfolio-projects {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1.125em;
  }
}
.portfolio-project {
  font-weight: 700;
  line-height: 1.6;
  border-radius: 1.75em;
}
.portfolio-project__image {
  background: url('project1.png') center / contain no-repeat;
  aspect-ratio: 1/1;
}
:is(
    .portfolio-project:nth-child(1),
    .portfolio-project:nth-child(5),
    .portfolio-project:nth-child(7)
  )
  .portfolio-project__image {
  background-image: url('project1.png');
}
:is(
    .portfolio-project:nth-child(2),
    .portfolio-project:nth-child(4),
    .portfolio-project:nth-child(9)
  )
  .portfolio-project__image {
  background-image: url('project2.png');
}
:is(
    .portfolio-project:nth-child(3),
    .portfolio-project:nth-child(6),
    .portfolio-project:nth-child(8)
  )
  .portfolio-project__image {
  background-image: url('project3.png');
}
.portfolio-project__text-zone {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
  background-color: var(--color-background-0d); /* originally was white with 0.08 opacity */
  border-radius: 0 0 1em 1em;
}
.portfolio-project__name {
  color: var(--color-main-1d-plus-x2);
}
.portfolio-project__category {
  color: var(--color-main-2d);
}

/* Contact me ==================================================================================== */

.contact-me {
  text-align: center;
}

form {
  margin-block: 3.125em;
  text-align: end;
  width: min(100%, 1000px);
  margin-inline: auto;
}

.form-items {
  display: grid;
  gap: 1.875em;
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  align-items: start;
}

.form-item {
  background-color: var(--color-background-1d); /* originally was white with 0.04 opacity*/
  --hor-padding: 1.5em;
  padding: 0.875em var(--hor-padding);
  border-radius: 0.5em;
  color: var(--color-main-2d);
  --line-height: 1.6;
  line-height: var(--line-height);
}
.form-item__label {
  display: flex;
  & span {
    white-space: nowrap;
    margin-right: 1em;
  }
  & input {
    flex-basis: 100%;
    font: inherit;
    color: var(--color-main-1d);
    background: transparent;
    border: 0;
    padding: 0;
  }
  /* since browser's !importances cannot be overriden, using this hand-made solution to fix colors */
  & input:-webkit-autofill {
    caret-color: #fff;
    -webkit-text-fill-color: var(--color-main-1d);
    -webkit-box-shadow: 0 0 0px 40rem var(--color-background-1d) inset;
  }
}

.form-dropdown-item {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-dropdown-item.expanded {
  overflow: visible;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-dropdown-item__arrow::before,
.form-dropdown-item__arrow::after {
  content: '';
  display: inline-block;
  height: 0.09375em;
  width: 0.625em;
  background-color: var(--color-main-2d);
  border-radius: 10px;
}
.form-dropdown-item__arrow::before {
  transform-origin: bottom right;
  transform: rotate(45deg);
}
.form-dropdown-item__arrow::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
}
.form-dropdown-item.expanded .form-dropdown-item__arrow::before {
  transform-origin: bottom left;
  transform: rotate(-45deg) translateX(0.3em);
}
.form-dropdown-item.expanded .form-dropdown-item__arrow::after {
  transform-origin: bottom right;
  transform: rotate(45deg) translateX(-0.3em);
}

.form-dropdown-item__header:has(~ .form-dropdown-item__body :checked) {
  color: white;
}
.form-dropdown-item__body {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  background-color: var(--color-background-1d);
  padding: 0 var(--hor-padding) 0.875em;
  border-radius: 0 0 0.5em 0.5em;
  box-sizing: border-box;
  width: 100%;
}
.form-dropdown-item.expanded .form-dropdown-item__body {
  box-shadow: 0 8px 3px rgba(0, 0, 0, 0.356);
}
.form-dropdown-item__body-header {
  display: inline-block;
  border-bottom: 1px solid var(--color-main-2d);
}
.form-dropdown-item__item input {
  display: none;
}
.form-dropdown-item__item:has(input:checked),
.form-dropdown-item__item:hover {
  color: white;
}

.form-textarea-item textarea {
  font: inherit;
  color: white;
  resize: none;
  padding: 0;
  border: 0;
  width: 100%;
  min-height: calc(5em * var(--line-height));
  background: transparent;

  &::-webkit-scrollbar {
    width: 0.4em;
    background: var(--color-background-0d);
    border-radius: 50px;
    cursor: default;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--color-main-2d);
    cursor: default;
  }

  &::placeholder,
  &::-moz-placeholder {
    color: var(--color-main-2d);
    opacity: 1; /* fix for moz placeholder */
  }
}

form .buttonlink-secondary {
  margin-top: 1.5em;
}

@media (max-width: 640px) {
  .form-items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

/* Footer ============================================================================================ */

footer {
  background: var(--color-background-1d);
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container > * {
  margin-top: 3.125rem;
}

footer .logo {
  margin-top: 2.5rem;
}

footer .contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-main-2d);
  font-weight: 700;
  font-size: 1.25rem;
  gap: 1em 2em;
}

footer .contacts__contact a {
  display: flex;
  align-items: center;
}

footer .contacts__contact svg {
  height: calc(1em * 1.2);
  stroke: var(--color-main-2d);
  stroke-width: 0.1em;
  margin-right: 0.7em;
}

footer .credentials {
  color: var(--color-main-3d);
  font-weight: 700;
  margin-bottom: 1.5em;
  /* padding: 1em 7.5em 0;
  border-top: 1px solid var(--color-main-3d); */
  align-self: stretch;
  text-align: center;
}
footer .credentials::before {
  content: '';
  display: block;
  height: 1px;
  background-color: var(--color-main-3d);
  margin-bottom: 1em;
}

@media (max-width: 640px) {
  footer .container > * {
    margin-top: 1.875rem;
  }

  footer .contacts {
    font-size: 1rem;
  }

  footer .credentials {
    font-size: 0.875rem;
  }
}
