:root {
  /* colors */
  /* d stands for darkened.  */
  --color-main-0d: #fefefe;
  --color-main-1d: #dfdfdf;
  --color-main-1d-plus: #d9d9d9;
  --color-main-1d-plus-x2: #c6c6c6;
  --color-main-1d-plus-x3: #bababa;
  --color-main-2d: #959595;
  --color-main-3d: #707070;
  --color-main-4d: #575757;

  --color-accent-0d: #fd6f00;
  --color-accent-1d: #e46400;
  --color-accent-1d-plus: #e60026;
  --color-accent-2d: #ca5900;

  --color-background-0d: #232323;
  --color-background-1d: #1b1b1b;
}
